
h1 {
  border-top: 20px solid black;
}

/* Background */
.background-solid,
.background-gradient,
.background-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.background-solid {
  background: #CC373F;
}
.background-gradient {
  background: linear-gradient(45deg, #57CC4E 0%, #CC0D07 100%);
}
.background-image {
  background-image: url("https://yt3.ggpht.com/-ETZjiKtMSLg/AAAAAAAAAAI/AAAAAAAAAAA/L480mzHSVFQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg")
}

/* Font */
.font-color {
  color: lime;
}
.font-size-big {
  font-size: 50px;
}
.font-size-small {
  font-size: 10px;
}
.font-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font-align-center {
  width: 500px;
  border: 1px solid #000;
  text-align: center;
}
.font-line-height {
  line-height: 50px;
  border: 1px solid #000;
}
.font-weight-bold {
  font-weight: bold;
}
.font-letter-spacing {
  letter-spacing: 10px;
}
.font-ellipsis {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-face {
  font-family: 'Mr Dafoe', cursive;
  font-size: 40px;
}

/*Opacity*/
.half-faded {
  opacity: 0.6;
}
.almost-fully-faded {
  opacity: 0.3;
}
.fully-faded {
  opacity: 0.1;
}

/* Border */
.border-color,
.border-style,
.border-radius {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.border-color {
  border: 4px solid blue;
}
.border-style {
  border-style: dotted;
  border-color: red;
  border-with: 1px;
}
.border-radius {
  border: 5px dashed black;
  border-radius: 100%;
}

/* Shadow */
.shadow-box {
  width: 100px;
  height: 100px;
  background: salmon;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
}

/* Size */
.size-in-px,
.size-in-procent {
  border: 1px solid #000;
  margin-bottom: 10px;
}
.size-in-px {
  width: 500px;
  height: 50px;
}
.size-in-procent {
  width: 50%;
  height: 50px;
}

/* Multiple styles */
.bold {
  font-weight: bold;
}
.red {
  color: red;
}
.italic {
  font-style: italic;
}

/* Pseudo classes */
.pseudo-active,
.pseudo-hover {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #000;
}
.pseudo-hover:hover {
  border-radius: 100%;
  background: brown;
}
.pseudo-active:active {
  width: 400px;
  background: lime;
}
.pseudo-focus:focus {
  background: gray;
  color: white;
}

/* Transform */
.transform-rotate {
  width: 100px;
  height: 100px;
  background: gold;
  margin-bottom: 40px;
  transform: rotate(30deg);
}
.transform-skew {
  width: 100px;
  height: 100px;
  background: salmon;
  transform: skew(20deg, 20deg)
}

/* Transition */
.transition {
  width: 100px;
  height: 100px;
  background: #A7FA6B;
  transition: all 0.5s;
  text-align: center;
  line-height: 100px;
}
.transition:hover {
  background: #FA167D;
  transform: rotate(360deg);
  border-radius: 100%;
}

/* Animations */
.dot {
  height: 50px;
  width: 50px;
  border: 10px solid rgba(0, 166, 205, 1);;
  border-radius: 60px;
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {transform: scale(0); opacity: 0.0;}
  50% {opacity: 1;}
  100% {transform: scale(1); opacity: 0.0;}
}

/* !important */
.override {
  color: green !important;
}
.blue {
  color: blue;
}

.media-queries {
  width:100%;
  height: 50px;
  background: #FF00FF;
}
@media screen and (min-width: 800px) {
  .media-queries {
    background: lightgreen;
  }
}
